<div class="main-form__input-box">
  <label for="login" class="main-form__label">{{label}}</label>
  <input
    class="main-form__input"
    type={{type}}
    name={{name}}
    ref={{ref}}
    required
  />
</div>
