<main class="profile">
      {{>button-back}}  
    <div class="profile__container">
       <div class="profile__main">
          <div class="profile__image">
             <img src="../../../public/Union.svg">  
            </div>          
         <p class="profile__name">Иван</p>
        </div> 
        <div class="profile__redact-cards">
           {{#each redactData}}
          {{>input-profile}}
            {{/each}} 
        </div>
        <div class="profile__button-redact">
{{>button-form button = 'Сохранить'}}
         </div>
     </div> 
</main>
{{>footer}}
